{
  "xenon" : [
    [0, [
      { "item" : { "name" : "lightstaffLesser" } },
      { "item" : { "name" : "lightstaffGreater" } },
      { "item" : { "name" : "plasmastaffLesser" } },
      { "item" : { "name" : "plasmastaffGreater" } },
      { "item" : { "name" : "steelstaffLesser" } },
      { "item" : { "name" : "steelstaffGreater" } },
      { "item" : { "name" : "lightstaffLesser" } },
      { "item" : { "name" : "lightstaffGreater" } },
      { "item" : { "name" : "aquastaffLesser" } },
      { "item" : { "name" : "aquastaffGreater" } },
      { "item" : { "name" : "glitchstaffLesser" } },
      { "item" : { "name" : "glitchstaffGreater" } },
      { "item" : { "name" : "crystalstaffLesser" } },
      { "item" : { "name" : "crystalstaffGreater" } }
    ]]
  ]
}