{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/artifacts/plasmablast.ogg" ]
    },
    {
      "action" : "light",
      "color" : "magenta"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 30,
      "delaySteps" : 2
    }
  ]
}
